{% extends 'base.html' %}

{% block title %}Home - StudentPilot{% endblock %}

{% block content %}

<section class="page-heading">
    <p class="eyebrow">Dashboard</p>

    <h1>Hello {{ current_user.username }}</h1>
    <p>Welcome to you user dashboard</p>

</section>

<section class="stat-grid">
    <article class="stat-card">
       <span>Total assignements</span> 
       <strong>
PLACEHOLDER - CALCULATE TOTAL ASSIGNMENTS
       </strong> 
    </article>

      <article class="stat-card">
               <span>Completed</span> 
       <strong>
PLACEHOLDER - Complete Assignemnts
       </strong> 
    </article>


      <article class="stat-card">
               <span>Pending</span> 
       <strong>
PLACEHOLDER - Pending assignemnts
       </strong> 
    </article>

      <article class="stat-card">
         <span>Total Spending</span> 
       <strong>
PLACEHOLDER - Spending so far
       </strong> 
    </article>
</section>



{% endblock %}  