{% extends 'base.html' %}

{% block title %}Home - StudentPilot{% endblock %}

{% block content %}

<section class="page-heading">
    <p class="eyebrow">Dashboard</p>

    <h1>Hello {{ current_user.username }}</h1>
    <p>Welcome to your user dashboard</p>

</section>

<section class="stat-grid">
    <article class="stat-card">
       <span>Total assignments</span> 
       <strong>
{{ total_assignments }}
       </strong> 
    </article>

      <article class="stat-card">
               <span>Completed Assignments</span> 
       <strong>
{{ completed_assignments }}
       </strong> 
    </article>


      <article class="stat-card">
               <span>Pending Assignments</span> 
       <strong>
{{ pending_assignments }}
       </strong> 
    </article>

      <article class="stat-card">
         <span>Total Spending</span> 
 
 <strong>€{{ '%.2f'|format(total_spending) }}</strong>

    </article>
</section>


<section class="two-column">
    <article class="panel">
        <div class="panel-header">
            <h2>Due soon</h2>
            <a href="{{ url_for('assignments')}}">Manage assignments</a>


        </div>
          </article>

      <article class="panel">
        <div class="panel-header">
            <h2>Overdue</h2>

          PLACEHOLDER - Sort assigment by expired date

                  </article>
                  </section>


<section class="panel">
      <div class="panel-header">
            <h2>Recent expenses</h2>
  </section>

{% endblock %}  